#header {
  display: flex;
  justify-content: center;
  text-align: center;
  background: lightblue;
}
h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#city-search {
  margin: 5px;
  width: auto;
  align-items: center;
}
.card {
  width: 100%;
  height: fit-content;
  margin: 10px;
}
#week-block {
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#current-weather {
    display: flex;
    justify-content: center;
}
